/*~
/.\#*
/.chef/local-mode-cache/cache/chef-client-running.pid
/.chef/local-mode-cache/cache/chef-client-running.pid
/.chef/local-mode-cache/cache/chef-stacktrace.out
/.chef/local-mode-cache/cache/chef-stacktrace.out
/.chef/test.pem
/.gitignore~
/.*~
/\#*\#
/\#*\#
/clients/test.json
/cookbooks/
/cookbooks/
/gempath/
/gempath/
/**/\#*\#
/nodes/test.json
/runbundle.sh
/sources/
/sources/
/test.log
/test.rb
/tmp/librarian/
/vagrant/
/vagrantsettings.txt
/*.tar.gz


# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*
/.chef/syntaxcache/*
.kitchen/
.kitchen.local.yml
